@{	
    ViewData["Title"] += "My Bank - My profile";
}

@model ProfileViewModel

@* TODO: polish the grid using bootstrap *@


<h4>Welcome, @Model.UserName!</h4>

@if (Model.Accounts.Count != 0)
{
	<h6>Your total balance: @Model.Balance</h6>	
	<a asp-action="OpenNewAccount" class="button">Open new account</a><br/>	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Account</th>
				<th>Balance</th>
				<th></th>
			</tr>
		</thead>

		@foreach (var account in Model.Accounts)
		{
			<tr>
				<td>@account.Code</td>
				<td>@account.Balance</td>
				<td><a asp-action="CloseAccount" asp-route-id="@account.Id" class="button">Close account</a></td>
			</tr>
		}
	</table>
}
else
{
	<p>
		You don't have any accounts. Please
		<a asp-action="OpenNewAccount">open an account</a>
		to see your profile details.
	</p>
}
