@{	
    ViewData["Title"] += "My Bank - My profile";
}

@model ProfileViewModel

@* TODO: polish the grid using bootstrap *@


<h4>Welcome, @Model.UserName!</h4>
<h6>Your total balance: @Model.Balance</h6>

<a asp-action="OpenNewAccount" class="button">Open new account</a>
</br>
</br>

<table class="table table-striped">
	<thead>
		<td>Account</td>
		<td>Balance</td>
		<td></td>
	</thead>

	@foreach (var account in Model.Accounts)
	{
		<tr>
			<td>@account.Id</td>
			<td>@account.Balance</td>
			<td><a asp-action="CloseAccount" asp-route-id="@account.Id" class="button">Close account</a></td>
		</tr>
	}
</table>

