@using MyBank.Portal.Data.Models;

@{
	ViewData["Title"] = "My Bank - Transaction History";
}

@model TransactionHistoryViewModel

<h3>Transaction history</h3>

@if (Model.Transactions.Count == 0)
{
	<p>
		You don't have any transactions yet.
	</p>
}	
else
{
	<table class="table table-striped">	
	@foreach (var account in Model.Transactions)
	{
		<tr>
			<td>@account.CreatedAt.ToString("g")</td>
			<td>
				@switch (account.Type)
				{
					case TransactionType.Deposit:
						<text>@account.Amount deposited to @account.RecipientId</text>
						break;
					case TransactionType.Withdrawal:
						<text>@account.Amount withdrawn from @account.SenderId</text>
						break;
					case TransactionType.Transfer:
						<text>@account.Amount transferred from @account.SenderId (@account.SenderName) 
							to @account.RecipientId (@account.RecipientName)</text>
						break;
				}
			</td>
		</tr>
	}
	</table>
	<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
}